.image-overlay .img-container {
    position: relative;
    width: 50%;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .img-container img {
    width: 100%;
    height: auto;
    opacity: 1;
    transition: filter 0.5s ease; /* Adăugare tranziție pentru filtrul de blur */
  }
  
  /* Stil pentru textul de pe imagine */
  .text-on-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    color: black;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 40px;
    font-weight: 700;
  }
  .img-container:hover .text-on-image {
    opacity: 1;
  }
  
  /* Stil pentru lista de locații */
  .locations {
    position: absolute;
    top: 0;
    right: -400px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 10px;
    transition: right 0.3s ease;
  }
  
  .locations h3 {
    margin-top: 0;
  }
  
  .image-overlay:hover .locations {
    right: 0;
  }
  
  .image-overlay:hover .img-container img {
    filter: blur(5px);
  }