.image-overlay {
    position: relative;
  }
  
  .image-overlay img {
    width: 100%;
    height: auto;
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  
  .image-overlay:hover img {
    opacity: 0.5;
  }
  .text-on-image {
    font-style: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    color: black;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 40px;
    font-weight: 700; /* Valoarea pentru un text și mai bold; poate fi ajustată între 400 și 900 */
  }
  
  
  .image-overlay:hover .text-on-image {
    opacity: 1;
  }
  