<!DOCTYPE html>
<html lang="ro">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Timișoara - Capitală Europeană 2023</title>
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/navbar.css">
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/about.css">
</head>
<body>
  <header>
    <h1>Timișoara - Capitală Europeană 2023</h1>
    <nav>
      <ul>
        <li><a href=index.html>Home</a></li>
        <li><a href=about.html class="active">Despre</a></li>
        <li><a href=events.html>Evenimente</a></li>
        <li><a href=contact.html>Contact</a></li>
      </ul>
    </nav>
  </header>
  <main>
        <section id="about-timisoara">
          <h2>About Timișoara</h2>
          <p>Capitala provinciei istorice a Banatului, Timișoara este reședința județului Timiș și centrul cultural și economic al părții vestice a României. Cu o populație de 306.462 de locuitori, orașul străbătut de râul Bega și-a menținut mult timp reputația de oraș vestic, transfrontalier, tânăr și antreprenorial. </p>
          <br>
          <p>Orașul a fost construit pe ruinele unei vechi cetăți romane, prima atestare documentară datând din secolul al XII-lea. Timișoara deține cel mai mare ansamblu de clădiri vechi din România, alcătuit din ansamblurile urbane ale cartierelor Cetate, Iosefin, Elisabetin și Fabric. Arhitectura variată, influențele barocului vienez și multitudinea de parcuri i-au adus Timișoarei reputația de "Mică Vienă" și "Orașul Parcurilor".</p>
          <br>
          <p>Între anii 1880 și 1914, Timișoara a fost cel mai important oraș industrial, comercial, financiar și cultural din regiune, admirat pentru excelența sa artistică în muzică, literatură, pictură, sculptură și arhitectură, precum și pentru inovațiile sale tehnice și științifice.</p>
          <br>
          <p>Chiar și înainte de 1989, în mijlocul erei Războiului Rece și a unui regim politic totalitar, Timișoara era considerată un oraș experimental și ingenios, unde grupul de artă conceptuală Sigma și trupa de rock Phoenix și-au început activitatea. A fost singurul loc din țară unde artiștii performau în spații publice.</p>
          <br>
          <p>Este un oraș multicultural, influențat de diverse comunități etnice, cum ar fi cea germană, maghiară și sârbă, dar și bulgară, italiană, greacă și romă. De asemenea, credincioșii ortodocși, catolicii, evreii, protestanții, luteranii, reformații, musulmanii și alte denominații își practică religia în armonie. În Timișoara, sensul cuvântului "toleranță" s-a transformat în "fraternitate".</p>
          <br>
          <p>Timișoara este un important punct de intersecție al destinațiilor din Europa, cu șapte capitale majore din Europa Centrală și de Sud-Est la o rază de 600 de kilometri: Belgrad, Budapesta, Bratislava, Viena, Zagreb, Skopje și București. Este, de asemenea, un centru feroviar important, în timp ce Canalul Bega este cea mai veche rută navigabilă de pe teritoriul actual al României.</p>
        </section>
        
        <a href="events.html" class="button">Vezi evenimente</a>

  </main>
  <footer>
    <p>&copy; 2023 Timișoara - Capitală Europeană</p>
  </footer>
</body>

</html>