<!DOCTYPE html>
<html lang="ro">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Timișoara - Capitală Europeană 2023</title>
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/navbar.css">
  <link rel="stylesheet" href="css/footer.css">
</head>
<body>
  <header>
    <h1>Timișoara - Capitală Europeană 2023</h1>
    <nav>
      <ul>
        <li><a href=index.html>Home</a></li>
        <li><a href=about.html>Despre</a></li>
        <li><a href=events.html>Evenimente</a></li>
        <li><a href=contact.html class="active">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <main>
        <section id="contact">
          <h2>Contact</h2>
          <p><strong>Main Contact:</strong> <a href="mailto:contact@timisoara2023.eu">contact@timisoara2023.eu</a></p>
          <p><strong>Communication:</strong> <a href="mailto:comunicare@timisoara2023.eu">comunicare@timisoara2023.eu</a></p>
          <p><strong>Partnerships:</strong> <a href="mailto:parteneriate@timisoara2023.eu">parteneriate@timisoara2023.eu</a></p>
          <p><strong>Recruitment:</strong> <a href="mailto:recrutare@timisoara2023.eu">recrutare@timisoara2023.eu</a></p>
          <p><strong>Financial:</strong> <a href="mailto:financiar@timisoara2023.eu">financiar@timisoara2023.eu</a></p>
          <p><strong>Volunteering:</strong> <a href="mailto:volunteers@timisoara2023.eu">volunteers@timisoara2023.eu</a></p>
          <p>We know you love the city. Let's talk!</p>
        </section>
      </main>
      

  </main>
  <footer>
    <p>&copy; 2023 Timișoara - Capitală Europeană</p>
  </footer>
</body>
</html>